body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.arrow-right.top-explainer {
  margin-right: 10px;
}
.link.arrows {
  color: white;
  font-size: 35px;
  text-decoration: none;
  display: inline-flex;
  padding: 20px;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
}
.list-projects.home {
  display: flex;
  justify-content: center;
}
.list-projects.home.items {
  display: inline-block;
  padding: 40px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  text-decoration: none;
  border: 1.50px solid gainsboro;
  border-radius: 10px;
  text-align: center;
}
.link.arrows:hover {
  transition: 800ms ease;
  color: cyan;
}
#top-explainer {
  background-image: linear-gradient(to bottom right, #2196f3, navy);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 40px;
  padding-left: 40px;
}
#top-explainer h1 {
  color: white;
  font-size: 60px;
  margin: 0px;
}
#logo {
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  background-color: #2196f3;
  color: white;
}
header {
  border-bottom: 1.50px solid gainsboro;
  display: flex;
  user-select: none;
  padding: 20px;
}
#navbar {
  display: inline-block;
  margin: 20px;
  margin-top: 24px;
}
#navbar a {
  display: inline-flex;
  color: black;
  text-decoration: none;
  padding: 20px;
  border-radius: 15px;
}
#navbar a:hover {
  transition: 800ms ease;
  background-color: #424242;
  color: white;
}
#navbar #active {
  background-color: #424242;
  color: white;
}
