header {
  border-bottom: 1.50px solid gainsboro;
}
#navbar {
  margin: 10px;
  display: inline-block;
}
#navbar a {
  display: inline-block;
  border-bottom: 4px solid transparent;
}
#navbar a:hover {
  border-bottom: 4px solid orange;
}
#navbar #active {
  border-bottom: 4px solid orange;
}
