body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.arrow-right.top-explainer {
  margin-right: 10px;
}
.link.arrows {
  color: white;
  font-size: 35px;
  text-decoration: none;
  display: inline-flex;
  padding: 20px;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
}
.list-projects.home {
  display: flex;
  justify-content: center;
}
.list-projects.home.items {
  display: inline-block;
  padding: 50px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  text-decoration: none;
  border: 1.50px solid gainsboro;
  border-radius: 10px;
  text-align: center;
}
.link.arrows:hover {
  transition: 800ms ease;
  color: cyan;
}
#top-explainer {
  background-image: linear-gradient(to bottom right, #2196f3, navy);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 40px;
  padding-left: 40px;
}
#top-explainer h1 {
  color: white;
  font-size: 60px;
  margin: 0px;
}
#logo {
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  background-color: #2196f3;
  color: white;
}
#logo:hover {
  transition: 800ms ease;
  color: whitesmoke;
  background-color: #1e82d0;
}
header {
  border-bottom: 1.50px solid gainsboro;
  display: flex;
  user-select: none;
  padding: 20px;
}
#navbar {
  display: inline-block;
  margin: 20px;
  margin-top: 24px;
}
#navbar a {
  display: inline-flex;
  color: black;
  text-decoration: none;
  padding: 20px;
  border-radius: 15px;
  transition: .2s;
}
#navbar a:hover {
  background-color: #424242;
  color: white;
}
#navbar #active {
  background-color: #424242;
  color: white;
}
.block.div.whyopensource {
  background-image: linear-gradient(to bottom right, #272727, black);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
}
#whyopensource {
  color: white;
  text-align: center;
}
#whyopensource h1 {
  font-size: 80px;
}
#whyopensource p {
  font-size: 35px;
}
.block.div.endfooter {
  display: flex;
  justify-content: center;
}
.contribute.zone h1 {
  font-size: 60px;
}
.contribute.zone a {
  text-decoration: none;
  color: white;
  padding: 20px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, cyan, cyan);
  width: 100%;
}
.contribute.zone a:hover {
  transition: 800ms ease;
  background-image: linear-gradient(to bottom right, cyan, navy);
}
footer {
  padding: 30px;
  border-top: 1.50px solid gainsboro;
  background-color: #f6f8fa;
}
