body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
#logo {
  display: inline-block;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  background-color: #2196f3;
  color: white;
}
header {
  border-bottom: 1.50px solid gainsboro;
  display: flex;
  user-select: none;
}
#navbar {
  display: inline-block;
  margin: 20px;
  margin-top: 24px;
}
#navbar a {
  display: inline-block;
  color: black;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  margin-left: 10px;
  margin-right: 10px;
}
#navbar a:hover {
  border-bottom: 4px solid yellow;
  transition: 400ms ease;
}
#navbar #active {
  border-bottom: 4px solid yellow;
}
