body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
header {
  border-bottom: 1.50px solid gainsboro;
  display: flex;
}
#navbar {
  display: inline-block;
  margin: 20px;
}
#navbar a {
  display: inline-block;
  color: black;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  margin-left: 10px;
  margin-right: 10px;
}
#navbar a:hover {
  border-bottom: 4px solid orange;
  transition: 400ms ease;
}
#navbar #active {
  border-bottom: 4px solid orange;
}
