body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
#top-explainer {
  background-image: linear-gradient(to bottom right, #2196f3, navy);
  padding-top: 80px;
  padding-bottom: 80px;
}
#top-explainer h1 {
  color: white;
  font-size: 60px;
  margin: 0px;
}
#logo {
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  background-color: #2196f3;
  color: white;
}
header {
  border-bottom: 1.50px solid gainsboro;
  display: flex;
  user-select: none;
  padding: 20px;
}
#navbar {
  display: inline-block;
  margin: 20px;
  margin-top: 24px;
}
#navbar a {
  display: inline-block;
  color: black;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  margin-left: 10px;
  margin-right: 10px;
}
#navbar a:hover {
  border-bottom: 4px solid yellow;
  transition: 800ms ease;
}
#navbar #active {
  border-bottom: 4px solid yellow;
}
